<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/careers-projects.css" />
    <title>Evelyne PHICH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="background">
      <div id="backgroundClosingSideNav" onclick="closeSideNav()"></div>
      <%- include("./partials/sideNav") -%>
      <nav class="navBar">
        <div class="navigation">
          <button class="menuButton" onclick="openSideNav()">
            <img class="menuIcon" src="/images/menu-24px.svg" />
          </button>
        </div>
        <div class="contact">
          <a class="gmail" href="mailto:evelyne.phich@gmail.com">
            <img src="/images/email-24px.svg" alt="Email"
          /></a>
          <a
            target="_blank"
            class="linkedIn"
            href="https://www.linkedin.com/in/evelyne-phich-26464370/"
            ><img src="/images/iconmonstr-linkedin-3.svg" alt="LinkedIn"
          /></a>
        </div>
      </nav>
      <div class="projectsContainer">
        <% for (const project of projects) { %>
          <div class="container">
            <div class="date"><%= project.date %></div>
            <div class="content">
              <div class="projectName">
                <a target="_blank" class="linkToProject" href="<%= project.linkToProject %>" style="color: <%= project.projectNameColor %>"><%= project.projectName %></a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
        <script src="/js/index.js"></script>
</body>

</html>