<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/careers-projects.css" />
    <title>Evelyne PHICH</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="background">
      <%- include("./partials/sideNav-navBar") -%>
      <div class="projectsContainer">
        <% for (const project of projects) { %>
          <div class="container">
            <div class="date"><%= project.date %></div>
            <div class="content">
              <div class="projectName">
                <a target="_blank" class="linkToProject" href="<%= project.linkToProject %>" style="color: <%= project.projectNameColor %>"><%= project.projectName %></a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
        <script src="/js/index.js"></script>
</body>

</html>